/* Grid Overlay */
footer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: 0;
}


/* Footer Styling */
footer {
    text-align: center;
    color: white; /* Light purple text color */
    padding: 0px;
    width: 100%;
    bottom: 0;
    position: relative;
}

.copyright {
    margin: 30px
}

/* Icons Styling */
.footericons {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    justify-content: center; /* Center the icons horizontally */
    align-items: center; /* Center the icons vertically */
}

.icons a {
    color: inherit;
    text-decoration: none;
}

.icons a:hover {
    opacity: 0.7;
    transform: scale(1.2);
}
